<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">  <!-- web容器的上下文的参数：这个参数指定了spring的配置文件的位置 -->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:beans.xml</param-value>
	</context-param>

	<!-- 加载spring提供的上下文监听器，这个监听器的作用就是我们在spring中写的new ClassPathXmlApplacationContext("配置的文件名"); 
		这是用来加载spring的容器的，并做容器初始化（生成bean,装配bean） -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


    <listener>
		<listener-class>com.yc.web.listeners.InitListener</listener-class>
	</listener>
	
	
	<!-- struts2的前端过滤器 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
